RedBlackTree/main.exe
RedBlackTree/.vscode/
RedBlackTree/.idea/
RedBlackTree/cmake-build-debug/
RedBlackTree/cmake-build-debug-/

RadixTree/.idea/
RadixTree/.vscode/
RadixTree/cmake-build-debug/

CompressedRadixTree/.idea/
CompressedRadixTree/.vscode/
CompressedRadixTree/cmake-build-debug/

SkipList/.idea/
SkipList/.vscode/
SkipList/cmake-build-debug/